---
- name: Root password rotation for RHEL servers.
  hosts: all
  gather_facts: true
  become: false
  vars:
    passwd_dir: '/home/chxmxii/.ansible/.pass'
    vault_pass: '/home/chxmxii/.ansible/.vault_key'
    host_fqdn: 'chx.example.com'
    mail_from: 'chx@example.com'
    mail_to: 'chxmxii.ctf@gmail.com'
  tasks:

  - name: 'Generate new password'
    ansible.builtin.set_fact:
      new_pass:  "{{ lookup('ansible.builtin.password', '/dev/null' ,  chars=['ascii_letters','digits', 'punctuation' ], length=12 ) }}"
    run_once: true
    delegate_to: "{{ host_fqdn }}"
    
  - name: ' | Ensure the root password is safely generated and stored on the controller host'
    when: ansible_nodename  == host_fqdn
    block: 
      - name: 'Ensure password directory exists'
        ansible.builtin.file: 
          path: "{{ passwd_dir}}" 
          state: directory
          owner: "{{ ansible_user }}"
          mode: 0700

      - name: 'Save the new password'
        ansible.builtin.copy:
          content: "{{ new_pass }}"
          dest: "{{ passwd_dir }}/secret.yaml"
          owner: "{{ ansible_user }}"
          mode: 0600

  - name: "Propogate password to all hosts"
    ansible.builtin.set_fact:
      root_passwd: "{{ hostvars[host_fqdn]['new_pass'] }}"
    run_once: true
  
  - name: 'Update the root password hash on all hosts'
    ansible.builtin.user:
      name: root
      update_password: always
      password: "{{  root_passwd | password_hash('sha512') }}"
    become: true
    when:  ansible_nodename  != host_fqdn

  - name: ' | Encrypt and backup the password file on controller host'
    when: ansible_nodename == host_fqdn
    block:
      - name: 'Ensure the password file is encrypted using ansible-vault on'
        ansible.builtin.shell: | 
          /usr/bin/ansible-vault encrypt {{ passwd_dir }}/secret.yaml --vault-password-file {{ vault_pass }}
      - name: 'Get timestamp for backup'
        ansible.builtin.command: "date +%Y-%m-%d"
        register: tstamp

      - name: 'Backup the encrypted password file.'
        ansible.builtin.command: >
          mv {{ passwd_dir }}/secret.yaml {{ passwd_dir }}/secret-{{ tstamp.stdout }}.yaml
      - name: 'Send success notification email'
        community.general.mail:
          host: 'smtp.oddo.fr'
          from: "{{ mail_from }}"
          to: "{{ mail_to }}"
          subject: "{{ mail_subject }}"
          body: "The root password has been changed successfully on all hosts on {{ tstamp.stdout }}."